# MySQL Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=recetario
DB_PORT=3306

# Server Configuration
PORT=3001
JWT_SECRET=tu_secreto_super_seguro_aqui

# CORS
CORS_ORIGIN=http://localhost:5173
